// sets

$gl-ms         : "screen and (max-width: 23.5em)"; // up to 360px
$gl-xs         : "screen and (max-width: 35.5em)"; // up to 568px
$gl-sm         : "screen and (max-width: 48em)";   // max 768px
$gl-md         : "screen and (max-width: 64em)";   // max 1024px
$gl-lg         : "screen and (max-width: 80em)";   // max 1280px

// table style

table 			      { 
  border-spacing: 1; 
  border-collapse: collapse; 
  background:white;
  border-radius:6px;
  overflow:hidden;
  max-width:800px; 
  width:100%;
  margin:0 auto;
  position:relative;
  
  *               { position:relative }
  box-sizing: border-box
  
  td,th           { padding-left:8px}

  thead tr        { 
    height:60px;
    background:#FFED86;
    font-size:16px;
  }
  
  tbody tr        { height:48px; border-bottom:1px solid #E3F1D5 ;
    &:last-child  { border:0; }
  }
  
 	td,th 					{ text-align:left;
		&.l 					{ text-align:right }
		&.c 					{ text-align:center }
		&.r 					{ text-align:center }
	}
}


@media #{$gl-xs}              {
  
  table					              { display:block;
	  > *,tr,td,th              { display:block }
    
    thead                     { display:none }
    tbody tr                  { height:auto; padding:8px 0;
      td                      { padding-left:45%; margin-bottom:12px;
        &:last-child          { margin-bottom:0 }
        &:before              { 
          position:absolute;
          font-weight:700;
          width:40%;
          left:10px;
          top:0
        }
        
        &:nth-child(1):before { content:"어종";}
        &:nth-child(2):before { content:"1위";}
        &:nth-child(3):before { content:"2위";}
        &:nth-child(4):before { content:"3위";}
        &:nth-child(5):before { content:"내 순위";}
      }        
    }
  }
}  	




// body style

body               { 
  background:#9BC86A; 
  font:400 14px 'Calibri','Arial';
}

blockquote {
  color:white;
  text-align:center;
}










nav
  position: relative
  padding-bottom: 12px
  .line
    height: 2px
    position: absolute
    bottom: 0
    margin: 10px 0 0 0
    background: #FF1847
  ul
    padding: 0
    margin: 0
    list-style: none
    display: flex
    li
      margin: 0 40px 0 0
      opacity: .4
      transition: all 0.4s ease
      &:hover
        opacity: .7
      &.active
        opacity: 1
      &:last-child
        margin-right: 0
      a
        text-decoration: none
        color: #fff
        text-transform: uppercase
        display: block
        font-weight: 600
        letter-spacing: .2em
        font-size: 14px
        
//Center
body
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh